@import '~antd/dist/antd.css';
.link {
  border: 1px solid black;
  list-style: none;
  padding: 4px;
  font-size: bold;
  color: black;
  margin-bottom: -23px;
}
.table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border: 1px solid black;
  width: 100%;
}
.table td,
.table th {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}
.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  text-align: center;
  background-color: #14cfa0;
  color: #fff;
}
.header-main {
  background-color: #fff;
  border: 1px solid black;
}
.content {
  background: #fff;
  border: 1px solid black;
  min-height: 520px;
}
.sider {
  background: #fff;
  border: 1px solid black;
}
.link-header{
  border:  1px solid black;
  height: 40px;;
  padding: 8px;
  
}
.search{
  margin-bottom: 40px;
  width: 100%;
  border:  1px solid black;
  height: 40px;
  padding: 8px;
}
